.bg-blue {
  background-color: #005b96;
}
.text {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
  color: #fff;
}
h4 > a:hover,
h5 > a:hover {
  text-decoration: none;
  color: #005b96;
}
